.card-body-button {
    display        : flex;
    justify-content: space-between;
}

#film-details {
    max-width : 30rem;
    margin-top: 7px;
}

.card-img-top {
    max-height: 35rem;
}

.card {
    width     : 100%;
    margin-top: 2%;
}